@import "tailwindcss";
@import "../styles/theme.css";
@import "tw-animate-css";



html, body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  line-height: var(--leading-normal);
}

